header {
  background: linear-gradient(135deg, #f9b4d4, #fcd3e1);
  color: #fff;
  padding: 8vh 4vw;
}

nav a {
  color: #fff;
}

nav a:hover {
  color: #ffe1f0;
  text-decoration: underline;
}

#photo-profil {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1vh;
    margin-bottom: 2vh;

    background: transparent;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
}

body {
  font-family: var(--font-main);
  color: #333;
}

section{
  background-color: #fff;
}

h2 {
  color: #d96b9a;
  border-left: 0.4rem solid #f7a8c5;
  padding-left: 1vw;
  font-size: var(--fs-lg);
}

h3 {
  color: #f088b4;
}

#competences {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}

#competences h2 {
  color: #d96b9a;
  margin-bottom: 20px;
}

.grid-competences {
  display: grid;                    
  grid-template-columns: repeat(2, 1fr); 
  gap: 40px;                       
  margin: 0 auto;                 
}

.grid-competences .bloc {
  font-family: "Pixelify", sans-serif;
  background-color: #fff0f5;        
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(255, 182, 193, 0.4);
  transition: transform 0.3s ease;
}

.grid-competences .bloc:hover {
  transform: scale(1.05);
}

.grid-competences h3 {
  color: #e75480;
  margin-bottom: 10px;
}

.grid-competences ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: "💗 ";
  padding-left: 3vw;
}

.grid-competences li {
  padding: 5px 0;
}

footer {
  background-color: #f7c2d4;
  color: #fff;
}