header {
  background: linear-gradient(135deg, #c9cf6f, #faf62a);
  color: #fff;
  padding: 8vh 4vw;
}

h1 {
  font-size: var(--fs-xl);
}

nav a {
  color: white;
}

nav a:hover {
  color: #abc744;
  text-decoration: underline;
  transition: 0.3s;
}

body {
  font-family: var(--font-main);
  color: #333;
}

a {
  color: #bae41b;
}

h2 {
  color: #d7d96b;
  display: inline-block;
  border-left: 0.4rem solid #bae41b;
  padding-left: 1vw;
  font-size: var(--fs-lg);
  background-color: #fff;
  border-radius: var(--radius-md);
  margin-left: 2vw;
}

#projets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 4vw;
  padding: 6vh 4vw;
}

.carte-projet {
  background-color: #fff;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-usuel);
  border-radius: var(--radius-md);
  padding: 3vh 2vw;
  transition: 0.3s;
}

.carte-projet:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 2rem rgba(220,235,120,0.6);
}

.carte-projet h3 {
  color: #b5bf31;
}

.carte-projet img {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 12px;
  object-fit: cover;
}

footer {
  background-color: #d1c135;
  color: white;
}